body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

dialog {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    justify-content: center;
}

dialog form {
    position: relative;
    justify-content: center;
}

#map {
    width: 100vw;
    height: 100vh;
}

form {
    position: absolute;
    right: 2rem;
    z-index: 999;
    padding: 1rem;
    background-color: #ccc;
    border: 1px solid #000;
    width: 20rem;
}

#single {
    top: 2rem;
}

#calculate-distance {
    top: 7rem;
}

#fly_form {
    top: 16rem;
}

input {
    padding: .5rem;
}

select {
    display: block;
    padding: .5rem;
    margin-bottom: .3rem;
}