body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

dialog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    height: 90%;
    width: 90%;
}

dialog p {
    z-index: 999;
    padding: 3rem;
    border: 1px black solid;
    background-color: #ccc;
    align-self: center;
    justify-content: center;
}

#map {
    width: 100vw;
    height: 100vh;
}

#info {
    background-color: #ccc;
    position: absolute;
    left: 2rem;
    top: 5rem;
    padding: 1rem;
    z-index: 999;
}

h3 {
    display: inline;
}

#airports_refresh {
    display: block;
    margin-top: 10px;
}

form, article {
    z-index: 999;
    padding: 1rem;
    background-color: #ccc;
    border: 1px solid #000;
    width: 20rem;
}

#right_forms {
    display: flex;
    position: absolute;
    right: 2rem;
    top: 1rem;
    flex-direction: column;
}

#single {
    top: 2rem;
}

#calculate-distance {
    top: 7rem;
}

#fly_form {
    top: 16rem;
}

input {
    padding: .5rem;
}

select {
    display: block;
    padding: .5rem;
    margin-bottom: .3rem;
}